@charset "UTF-8";
* {
	font-family: 'Roboto' San-serif;
	margin: 0;
	padding: 0;
}

header {
	margin: 50px 0;
	text-align: center;
}

header div {
	margin: 0 auto;
	padding: 0 8px;
	width: fit-content;
	background: #ffc1b5;
	transition: 0.5s linear;
	cursor: pointer;
}

header p {
	font-size: 0.8rem;
}

header div:hover {
	background: #79e5cb;
}

div#container {
	border: 1px solid #ddd;
	font-size: 0.9rem;
	width: 50%;
	margin: 5px auto;
	padding: 10px;
}

#candybox {
	width: 50%;
	margin: 0 auto;
}

#candybox p {
	font-size: 0.7rem;
	text-align: right;
	font-style: italic;
}

#candybox a {
	color: #ccc;
	text-decoration:none;
}